name: CI

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - "dev-[0-9]*-[0-9]*-[0-9]*"

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: ["3.9", "3.10", "3.11", "3.12"]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          cache: pip

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install ".[dev]"
          pip install requests types-requests

      - name: Lint with Black
        run: black --check qaekwy

      - name: Lint with Pylint
        run: pylint qaekwy

      - name: Type check with MyPy
        run: mypy qaekwy

      - name: Test with Pytest + coverage
        run: |
          python -m pytest --cov=qaekwy --cov-fail-under=80 tests 
